body {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #EBE9DD;
}

/* bg utama */
.login-bg {
    min-height: 100vh;
    padding: 80px 0 !important; /* pastikan kepakai */
    background:
        linear-gradient(180deg, #003631 0%, rgba(156, 200, 141, 0.6) 15%, rgba(255, 255, 255, 0.4) 100%),
        url("../assets/admin/bg login admin.png");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* judul */
.brand-title {
    font-family: "Marcellus SC", serif;
    font-size: 58px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 2px;
    margin-top: 0;        
    margin-bottom: 25px;
    text-align: center;
}

/* card */
.login-card {
    width: 800px !important;     
    max-width: 95%;
    border-radius: 80px;
    overflow: hidden;
    background-color: #EBE9DD;
    box-shadow: 0px 0px 20px 8px #00000040;
    margin: 0 auto;             
}

/* card kiri */
.login-left {
    background:
        url("../assets/admin/admin memantau.svg"),
        linear-gradient(142deg, #338F13 10%, #FFF15C 47%, #9CC88D 75%);
    
    background-size: 100%, cover;
    background-position: bottom left, center;
    background-repeat: no-repeat, no-repeat;
    padding: 35px 35px 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.title-hi {
    font-size: 50px !important;
    font-weight: 700;
    line-height: 1 !important;
    margin: 10px 5px !important;
}

/* card kanan */
.login-right {
    padding: 40px 40px;
    background-color: #F3EFDF;
    border-radius: 0 45px 45px 0;
}

.login-right h2 {
    font-size: 38px;
    color: #4D774F;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.login-right p {
    font-size: 18px;
    color: #609B4C;
    text-align: center;
    margin-bottom: 24px;
}

.login-right .form-label {
    font-size: 20px;
    font-weight: 600;
}

.input-box {
    height: 50px;
    border-radius: 28px;
    border: 2px solid #EFB34A;
    font-size: 18px;
    background-color: #F8F4E6;
    padding: 8px 18px;
}

/* login */
.btn-login {
    width: 230px;
    height: 58px;
    background-color: #FFC765;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #326334;
    box-shadow: 0px 5px 12px #00000040;
    display: block;
    margin: 32px auto 0;
}

/* footer kecil di bawah form */
.text-muted.small {
    font-size: 14px;
    color: #4D774F !important;
}

/* button kembali */
.back-btn {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #FFC765;
    border-radius: 28px;
    padding: 8px 50px;
    font-size: 18px;
    font-weight: 700;
    color: #326334;
    border: none;
    box-shadow: 0px 0px 10px #00000050;
    cursor: pointer;
    border: 2px solid #EFB34A;
}

.back-btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #EFB34A;
}
