/*Navbar--------------------------------------------*/

nav{
    height: 93px;
    background-color: #003631;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 6px #00000040;
}

.logo, .logoFooter{
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
}

.logo img, .logoFooter img{
    width: 41px;
    height: 41px;
}

.logo p, .logoFooter p{
    margin: 0;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-size: 11px;
    color: white;
}

.logo h3, .logoFooter h3{
    margin: 0;
    font-family: "Marcellus SC";
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

.menuNav{
    display: flex;
}

.menuNav{
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.pilihMenu{
    width: 82px;
    border-radius: 10px;
    border: 2px solid #e9b96a;
}

.menu{
    display: flex;
    gap: 30px;
}

.menuNav a {
    text-decoration: none;
    color: white;
}

.layananWarga, .btnLogin{
    width: 189px;
    height: 51px;
    border-radius: 30px;;
    border: 2px solid #EFB34A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*Footer--------------------------------------------*/

.footer{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #003631;
}

.isiFooter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 60px;
    color: #EBE9DD;
    height: 328px;
}

.isiFooter1, .isiFooter2, .isiFooter3, .isiFooter4{
    height: 100%;
}

.copyright p{
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 25px;
    color: #efb24a7a;
}

.copyright hr{
    border: 1px solid #EFB34A;
    margin: 0;
}

.logoFooter p, .logoFooter h3 {
    color: #EFB34A;
}

.isiFooter1{
    width: 323px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
}

.alamatFooter{
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
}

.sloganFooter{
    font-family: Homemade Apple;
    font-weight: 400;
    font-size: 15px;
    color: #EBE9DD;
}

.isiFooter2 h3,
.isiFooter3 h3,
.medsos h3 {
    font-family: "Marcellus SC", serif;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 20px;
    color:#EFB34A;
}

.isiFooter2 a {
    display: block;
    color: #EBE9DD;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
    font-size: 15px;
    margin-bottom: 15px;
}

.kontakItem {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 16px;

}

.kontakItem img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.noTelp {
    font-family: "Plus Jakarta Sans";
    color: #EBE9DD;
    margin: 0;
    text-decoration: none;
}

.kontakItem a{
    text-decoration: none;
    color: white;
}

.deskripsi {
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    opacity: 0.8;
    margin: 0;
    margin-left: 32px;
    color: #ffffffa3;
}

.ikonMedsos {
    display: flex;
    gap: 12px;
}

.ikonMedsos img {
    width: 25px;
    height: 25px;   
}

.isiFooter4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.medsos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginAdmin {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btnLogin {
    padding: 10px 60px;
    border: 2px solid #EFB34A;
    border-radius: 50px;
    text-decoration: none;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-align: center;
}

.btnLogin:hover {
    background: #EFB34A;
}

