.layananPage {
    background: #EBE9DD;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("../assets/layananWarga/bgLayananWarga.svg");
    background-size: cover;
    background-position: center;
}

.layananHero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layananHeroContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

.layananHeroContent h1 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: Marcellus SC;
    font-weight: 400;
    font-size: 82px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 4px 4px 0px #00000040;
}

.layananGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

.layananCard {
    height: 143px;
    width: 544px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
    border-radius: 18px;
    padding: 20px 26px;
    text-decoration: none;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.24);
}

.layananIcon {
    width: 88px;
    height: 88px;
    border-radius: 10px;
    background: #EFB34A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.layananIcon img {
    width: 46px;
    height: fit-content;
    object-fit: contain;
}

.layananText h2 {
    color: #003631;
    margin: 0 0 4px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 30px;
}

.layananText p {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    color: #15463E;
    margin: 0;
    font-size: 22px;    
}